{{!-- Page Header --}}
<div class="container" id="header">
  <h1 id="burgerHeader">Burgers:</h1>
</div>

<br>

{{!-- Input area for burger to devour and submit button --}}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 id="devourForm">Input burger i'd like to devour:</h2>
        <input type="text" class="form-control" placeholder="Insert burger here">
          <button class="submitButton">Submit</button>
    </div>
  </div>
</div>

<br>

{{!-- Adds the line on page --}}
<div class="container">
  <div class="row">
    <div class="burgersDevoured">
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
{{!-- Burgers I'd Like to Devour section --}}
    <div class="burgersData col-md-6">
      <h3 id="dataHeader">Burgers I'd Like to Devour</h3>
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <li>
                {{this.burger_name}}
              </li>
            </div>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

{{!-- Burgers I've Devoured section --}}
    <div class="burgersData col-md-6">
      <h3 id="dataHeader">Burgers I've Devoured:</h3>
      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <div>
              <li>
                {{this.burger_name}}
              </li>
            </div>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>