#header {
    text-align: center;
}

#burgerHeader {
    font-size: 3rem;
}

#devourForm {
    font-size: 1rem;
    width: 300px;
}

.burgersDevoured {
    border-top: 1px solid black;
}

#dataHeader {
    font-size: 1rem;
}

.burgersData {
    border: 1px solid black;
}