.topPage {
    background-color: rgba(255, 68, 0, 0.466);
}

#header {
    text-align: center;
}

#burgerHeader {
    font-size: 4rem;
    color: black;
    font-weight: bold;
}

#devourForm {
    font-size: 1.5rem;
    font-style: italic;
    color: black;
} 

.burgersDevoured {
    border-top: 5px solid black;
}

#dataHeader {
    font-size: 2rem;
}

.burgersData {
    border: 2px solid black;
 
}

.submitButton {
    margin-top: 5px;
    width: 100px;
}

#submitBurger {
    background-color: white;
    border: 2px solid black;
    width: 150px;
}

#forms {
    position: center;
    text-align: center;
}

#inputWithButton {
    text-align: center;
}

#form-control {
    border: 2px solid black;
}

.burgerWasDevoured {
    margin-top: 5px;
    width: 100px;
}

#burgerWasDevoured {
    background-color: white;
    border: 2px solid black;
    width: 150px;
}
